.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30em;
}

.player-img {
    width: auto !important;
    margin-left: 75px;
}

.item {
    background: blanchedalmond;
    padding: 2em;
    margin: 1em;
    flex: 1;
}

table {
    border-collapse: collapse;
}

table, th, td {
    font-size: 1.1em;
    border: 1px solid black;
}

.squad-btn, .player-stat-btn {
    padding: 1em;
    background-color: orange;
}

.item>p {
    text-align: justify;
}

.item>img {
    width: 100%;
    height: 250px;
}

.live-score {
    border-left: 5px solid rgb(29, 240, 99);
    padding: 10px 20px;
}

#more-btn {
    background: rebeccapurple;
    padding: 1em;
    color: white;
    margin: auto;
    align-self: center;
}

.header {
    display: flex;
    background: black;
    padding: 1em;
}

.header>h1 {
    color: white;
}

.footer {
    background: black;
    padding: 1em;
    text-align: center;
}

.footer>p {
    color: aliceblue;
}

.main-nav {
    padding: 1em;
    display: flex;
    align-items: center;
}

.main-nav>a {
    text-decoration: none;
    background: white;
    padding: 1em;
    border-bottom-color: black;
}