#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#imgPlayer {
    width: auto !important;
}

#item {
    background: blanchedalmond;
    padding: 2em;
    margin: 1em;
    width: 500px;
    flex: 1;
}

#strd {
    background: green;
    padding: 1em;
    width: max-content !important;
    color: white;
}

#nstrd {
    background: red;
    padding: 1em;
    width: max-content !important;
    color: white;
}

#item>p {
    text-align: justify;
}

#item>img {
    width: 100%;
    height: 250px;
}

#more-btn {
    background: rebeccapurple;
    padding: 1em;
    color: white;
    height: 100px;
    align-self: center;
}

.header {
    display: flex;
    background: black;
    padding: 1em;
}

.header>h1 {
    color: white;
}

.footer {
    background: black;
    padding: 1em;
    text-align: center;
}

.footer>p {
    color: aliceblue;
}

.main-nav {
    padding: 1em;
    display: flex;
    align-items: center;
}

.main-nav>a {
    text-decoration: none;
    background: white;
    padding: 1em;
    border-bottom-color: black;
}